<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Importador.Properties.SQLPadrao" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Importador.Properties.Configuracoes" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <userSettings>
    <Importador.Properties.SQLPadrao>
      <setting name="clientes" serializeAs="String">
        <value>SELECT @as Codigo, @as tipo, @as RazaoSocial, @as NomeFantasia, @as Endereco, @as Bairro, @as Cidade, @as UF, @as CEP, @as codigocidadeibge, @as numero, @as complemento, @as telefone1, @as telefone2, @as fax, @as DataNascimento, @as CNPJ, @as IE, @as CPF, @as RG, @as ValorCredito, @as email, @as FisicaJuridica, @as contato, @'IMPORTACAO' as usuario, @'IMPORTACAO' AS terminal, @0 as EmpresaCadastro, @as Status, @as CodigoImportacaoDados @FROM CLIENTES;</value>
      </setting>
      <setting name="produtos" serializeAs="String">
        <value>SELECT @as Codigo, @ as Descricao, @ as detalhamento, @ as referencia, @ as codigobarras, @ as UNVenda, @ as ValorCusto, @(custofinal - valorcusto) as outroscustos, @ as custofinal, @ as VendaT1, @ as cst_simples, @ as codigocf, @ as ncm, @ as cest, @ as CodigoFabricante, @ as fabricante, @ as CodigoSecao, @ as Secao, @ as CodigoGrupo, @ as grupo, @ as CodigoSubGrupo, @ as SubGrupo, @'Revenda' as TipoProduto , @'Normal' as ModalidadeControle, @'IMPORTACAO' as Usuario, @'IMPORTACAO' as Terminal, @ AS cst_pis, @ AS Cst_Cofins, @ AS aliq_COFINS, @ AS aliq_pis, @ AS BaseCalculoICMS, @ AS AliquotaICMS, @as Cancelado, @as CodigoImportacaoDados @FROM PRODUTOS</value>
      </setting>
      <setting name="produtos_st" serializeAs="String">
        <value>SELECT @as codigoproduto, @as uf, @as MVA, @as MVA_AJUST , @as MVA_SIMPLES , @as ICMS , @as ICMS_Intra , @as ICMS_Inter_PF , @as CST , @as CST_Simples , @as ValorPauta, @as Empresa , @as BaseST @FROM produtos_st;</value>
      </setting>
      <setting name="contasapagar" serializeAs="String">
        <value>SELECT @ AS codigo, @ AS razaosocial, @ AS ndocumento, @ AS datalancamento, @ AS vencimento, @ AS vencimentooriginal, @ AS valor, @ AS valorpago, @ AS valorpendente, @ AS quitado, @ AS dataquitacao, @ AS juro, @ AS desconto, @ AS quantidadepagamentos, @ AS npagamento, @ AS descricao, @1 AS empresa, @ AS valororiginal, @'IMPORTACAO' AS usuario, @'IMPORTACAO' AS terminal, @1 AS CodModalidade, @'CARTEIRA' AS Modalidade @ FROM CONTASAPAGAR</value>
      </setting>
      <setting name="contasareceber" serializeAs="String">
        <value>SELECT @ AS codigo, @ AS razaosocial, @ AS ndocumento, @ AS datalancamento, @ AS vencimento, @ AS vencimentooriginal, @ AS valor, @ AS valorpago, @ AS valorpendente, @ AS quitado, @ AS dataquitacao, @ AS juro, @ AS desconto, @ AS quantidadepagamentos, @ AS npagamento, @ AS descricao, @1 AS empresa, @ AS valororiginal, @'IMPORTACAO' AS usuario, @'IMPORTACAO' AS terminal, @1 AS CodModalidade, @'CARTEIRA' AS Modalidade @ FROM contasareceber</value>
      </setting>
      <setting name="servicos" serializeAs="String">
        <value>SELECT @ as Codigo, @ as Descricao, @ as ValorCusto, @ as valorvenda, @ as servicoterceiro, @'g' as status, @1 as ativo, @ as DescontoMaximo @ FROM servicos</value>
      </setting>
      <setting name="backup" serializeAs="String">
        <value>acertoestoque auditoriaestoque cidades clientes contasapagar contasareceber fabricantes grupos produtos produtosestoque secoes subgrupos unidades</value>
      </setting>
      <setting name="secoes" serializeAs="String">
        <value>select @  as codigo, @  as descricao @from secoes</value>
      </setting>
      <setting name="grupos" serializeAs="String">
        <value>select @  as codigo, @  as descricao, @  as codigosecao, @  as descricaosecao @from grupos</value>
      </setting>
      <setting name="subgrupos" serializeAs="String">
        <value>select @  as codigo, @  as descricao, @  as codigogrupo, @  as descricaogrupo @from subgrupos</value>
      </setting>
      <setting name="fabricantes" serializeAs="String">
        <value>select @  as codigo, @  as descricao @from fabricantes</value>
      </setting>
      <setting name="produtosestoque" serializeAs="String">
        <value>select @  as codigoproduto,@  as estoque,@  as empresa,@  curdate() as DataUltimaMov,@  'MASTER' as Usuario @from produtosestoque</value>
      </setting>
      <setting name="produtosfornecedor" serializeAs="String">
        <value>select @  as idprodutos,@  as idfornecedor@from produtosfornecedor</value>
      </setting>
      <setting name="produtosbarcode" serializeAs="String">
        <value>select @  as codigoproduto,@  as barcode,@  as fracionario,@  as grade_linha,@  as grade_coluna,@  as idgrade@from produtosbarcode</value>
      </setting>
    </Importador.Properties.SQLPadrao>
    <Importador.Properties.Configuracoes>
      <setting name="BancoLocal" serializeAs="String">
        <value>Configuracao\imp.db</value>
      </setting>
      <setting name="CodigoImplantacao" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="NomeSkin" serializeAs="String">
        <value>Basic</value>
      </setting>
      <setting name="PaletaSkin" serializeAs="String">
        <value>Violet Dark</value>
      </setting>
      <setting name="RegimeEmpresa" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="UsuarioLogado" serializeAs="String">
        <value />
      </setting>
    </Importador.Properties.Configuracoes>
  </userSettings>
</configuration>